*{
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --dark-bg: #00142a;
    --dark-bg2: #001327;
    --dark-bg3: #000f1e;
    --font-color: #ffffff;
    --button-color: #0025a0;
}
body{
    background-color: black;
    height: 100vh;
}
.portfolio-page{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Hero Section */
.hero-section{
    margin: 0;
    background-color: var(--dark-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 250px;
    box-shadow: 0 30px 0 var(--dark-bg3);
    border-radius: 0 0 200px 200px;
    color: var(--font-color);
}
.hero-section h1{
    color: var(--font-color);
    font-size: 3rem;
}
.hero-content {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.text-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.links-container {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}
.links-container a{
    display: inline-block;
    text-decoration: none;
    color: var(--font-color);
    padding: 10px 30px;
    background-color: black;
    border-radius: 20px;
    border: 1.5px solid var(--button-color);
}
.hero-content img{
    border-radius: 40px;
    background-color: var(--dark-bg3);
    padding: 0px;
}