* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(120deg, #0f172a, #1e293b);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}

.todo-container {
  background: #000000;
  padding: 30px;
  border-radius: 20px;
  width: 350px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-area {
  display: flex;
  gap: 10px;
}

#taskInput {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
}

#addBtn {
  padding: 10px 20px;
  background: #38bdf8;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

#addBtn:hover {
  background: #0ea5e9;
}

ul {
  list-style: none;
  margin-top: 20px;
}

li {
  background: #334155;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}
#checkbox{
  width: 20px;
  height: 20px;
  border-radius: 20px;
}
li button{
  width: 30px;
  height: 30px;
  background-color: #334155;
  border: none;
  border-radius: 10px;
  color: red;

  transition: background-color 0.2s;
}
li button:hover{
  background-color: red;
  color: white;
}
